<div class="box-flyout" style="height: {{height}}px">
    <div class="dragresize dragresize-tm"></div>
    <div class="chat-head chat-head-chatbox">
        <a class="close-chatbox-button icon-close"></a>
        <a class="toggle-chatbox-button icon-minus"></a>
        <div class="chat-title">
            {[ if (url) { ]}
                <a href="{{url}}" target="_blank" class="user">
            {[ } ]}
                    {{ fullname }}
            {[ if (url) { ]}
                </a>
            {[ } ]}
        </div>
        <p class="user-custom-message"><p/>
    </div>
    <div class="chat-body">
        <div class="chat-content"></div>
        <div class="CustomMessageArea">
            <form class="sendXMPPMessage" action="" method="post">
                {[ if (show_toolbar) { ]}
                    <ul class="chat-toolbar no-text-select"></ul>
                {[ } ]}
            <textarea
                type="text"
                class="chat-textarea"
                placeholder="{{label_personal_message}}"/>
            </form>
            <form class="upt_attach" action="http://192.168.1.2/svc/testFile" enctype="multipart/form-data" method="post" >
                <input type="file" accept="image/*|audio/*" id="attachment_upload" name="file" style="width: 0; height: 0; visibility: hidden;">
                <div class="upld_img" title="Upload Profile Image"></div>
            </form>
        </div>
    </div>
</div>
