<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  	<link rel="stylesheet" type="text/css" media="screen" href="converse.css">
  	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  	<script data-main="main" src="components/requirejs/require.js"></script>
  	<script type="text/javascript" src="jquery-1.11.2.min.js"></script>
  	<script type="text/javascript" src="jquery.form.min.js"></script>

  	<style type="text/css">
	     	.box-fly {
			  width: 98vw;
			  height: 99vh;
			  position: absolute;
			  left: 10px;
			  bottom: 5px;
			}
			#conversejs #controlbox{
				width: 0px;
			}
			body{
				background-color: #eeeeee;	
			}
			a.curr{
				  width: 97vw;
				 }
			.CustomMessageArea {
			  display: inline-block;
			  width: 200px;
			}
			.upld_img {
			  background: url('./img/attachment.png') no-repeat;
			  width: 20px;
			  height: 22px;
			  position: relative;
			  top: 0px;
			  right: 5px;
			}
			form.upt_attach {
			  width: 20px;
			  float: right;
			  position: relative;
			  top: -50px;
			  height: 40px;
			}
	     </style>
  </head>
  <body>
    <body>
		<script type="text/javascript">
			require(['converse'], function (converse) {
									//console.log(converse.PRETTY_CONNECTION_STATUS)
									converse.initialize({
									bosh_service_url: "http://localhost:5280/https-bind/",
									keepalive: true,
									message_carbons: true,
									play_sounds: true,
									roster_groups: true,
									roster_groups: false,
									show_controlbox_by_default: true,
									xhr_user_search: false,
									cache_otr_key:true,
									//authentication:'prebind'
									authentication:'login'
								
								});
						});
		</script>
  </body>
</html>